* {
  box-sizing: border-box;
}
body {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  background-color: #141b1c;
}
@import 'variables';
@import 'price-card';

.container {
  display: flex;
  flex-direction: row;
  color: $colorWhite;
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding: 65px 132px 115px 132px;
}
