* {
  box-sizing: border-box;
}
body {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  margin: 0;
  padding: 0;
  background-color: #141b1c;
}
@import 'price-card';
@import 'variables';

.container {
  display: flex;
  flex-direction: row;
  color: $colorWhite;
  width: 1440px;
  margin: 0;
  padding: 60px 132px 115px 132px;
}
